body{
	background-image: url('img/background.jpg');
	padding: 100px;
	line-height: 40px;
	font-family: 'Patrick Hand', cursive;
	
	background-color: #1ff2b7;
}
header img{
	border-radius: 150px;
	width: 1000px;
	border: 120px black;
}
header{
	text-align: center;
	text-shadow: 5px;
	padding: 50px;
	background-color: #1ff2b7;
	font-family: 'Amatic SC', cursive;
	font-size: 100px;
	margin: 0
}
header h1{
	color: black;
	size: 200px;
}
h1,h2{
	font-family: 'Amatic SC', cursive;
	font-style: bold;
	font-size: 80px;
	color: black;
	margin-top: 20px;
	padding: 10px;
}
main img{
	max-width: 100%;
}

main{
	padding: 50px;
	color: black;
	font-size: 25px;
}

body img{
	border: 20px;
	border-radius: 150px;
}
p{
	color: solid white;
}

a{
	color: #1ff2b7;
}
a:hover{
	color: white;
	opacity: .75;
}

footer{
	background-color: #1ff2b7;
	padding:20px;
	margin: 0;
}

header img .banner{
	size: 10px;
}